@import "../../assets/colors";
@import "../../assets/fonts";
@import "../../assets/mixins";

.inputWrapper {
  margin: 24px 32px 16px;
}

.inputTitle {
  margin: 0 0 4px 0;
  font-family: 'Helios', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: $primary;
}

.input{
  font-family: 'Helios', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: $secondary;
  padding: 14px 10px;
  border: 1px solid $gray;
  width: 480px;
  outline: none;

  &:focus{
    border: 1px solid $secondary;
  }

  &::placeholder{
    color: $secondary;
  }
}

.disabledInput {
  background-color: $gray;

  &:hover {
    cursor: not-allowed;
  }
}

.errorInput {
  border: 1px solid $red;
}
.errorText {
  color: $red;
  font-family: 'Helios', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin: 4px 0;
}

