@import "../../assets/colors";
@import "../../assets/fonts";
@import "../../assets/mixins";

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.inputTitle {
  font-family: 'Helios', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: $primary;
  margin: 0;
}

.input{
  font-family: 'Helios', serif;
  border: 1px solid $gray;
  outline: none;
  box-sizing: border-box;
  background: $white;
  width: 480px;
  padding: 14px 20px 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: $primary;

  &::placeholder {
    color: $secondary;
  }
  &:active {
    border: 1px solid $gray;
  }
  &:focus {
    padding: 18px 24px 14px 20px;
    border: 2px solid $gray;
  }
}

.disabledInput {
  background: $gray;
  border: 1px solid $gray;
  cursor: not-allowed;
}

.errorInput {
  border: 1px solid $red;
}
.errorText {
  color: $red;
  font-family: 'Helios', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin: 4px 0;
}

