@import "../../assets/colors";
@import "../../assets/fonts";

.wrapper {
  margin: 0 auto 100px;
  border: 1px solid $gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 544px;
  padding: 20px 0 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.resetTitle {
  margin-top: 20px;
  font-size: 24px;
  line-height: 24px;
}

.success {
  background-color: $purple;
  padding: 20px;
  max-width: 480px;

  .successText {
    font-family: 'Helios',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 440px;

    & > span {
      font-style: oblique;
    }
  }
}

.input {
  width: 460px;
}

.button {
  width: 100%;
  margin-bottom: 20px;
}

