@import "../../assets/colors";
@import "../../assets/fonts";

.titleBlock {
  display: flex;
  flex-direction: column;
  align-items: baseline;

  .title {
    margin: 32px 0 48px;
  }
}

.mainInfoContainer {
  display: flex;
  gap: 120px;
  
  @media screen and (max-width: 920px) {
    flex-direction: column;
    gap: 0;
  }

  .imageContainer {
    width: 544px;
    height: 472px;
    padding: 0;
    position: relative;
    display: flex;

    @media screen and (min-width: 768px) and (max-width: 1149px) {
      width: 100%;
      margin-bottom: 48px;
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      width: 100%;
      margin-bottom: 36px;
    }

    img {
      margin: auto;
      width: 350px;
      height: 400px;

      &:hover {
        transform: none;
      }
    }

    & > .buttonLike {
      position: absolute;
      top: 0;
      right: 0;

      & > svg > path {
        stroke: $white;

      }

      &:hover {
        > svg > path {
          stroke: $red !important;
        }
      }
    }

    .activeButtonLike > svg > path {
      fill: $red;
      stroke: $red;
    }
  }

  .infoContainer {
    border-top: 1px solid $gray;
    padding-top: 40px;
    .priceContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .infoWrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 99px;

      .infoWrapperBlock {
        display: flex;
        justify-content: space-between;

        .infoName {
          font-family: 'Helios', serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          color: $secondary;
        }

        .info {
          font-family: 'Helios', serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          color: $primary;
        }
      }
    }

    .preview {
      font-family: 'Helios', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      justify-content: center;
      margin-top: 40px;
    }
  }

  margin-bottom: 72px;
}

.secondaryInfo {
  .description {
    margin: 50px 0 50px;
  }

  .share {
    width: 120px;
    display: flex;
    justify-content: space-between;
  }

  margin-bottom: 72px;
  @media screen and (max-width: 700px) {
    display: none;
  }
}

.similar {
  margin: 72px 0 82px;

  .similarTitle {
    margin-bottom: 48px;
  }
}